* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 100px;
  background: url(../images/1.jpg) no-repeat top center;
  background-size: 100%;
  text-align: center;
}

header select,
header input {
  border: none;
  height: 26px;
  margin-top: 20px;
}

header input {
  padding-left: 10px;
  margin-left: -10px;
}

footer {
  width: 100%;
  display: flex;
}

footer p {
  flex: 1;
}

footer p img {
  display: block;
}

main {
  flex: 1;
  width: 100%;
}

main .menu {
  overflow: hidden;
}

main .menu p {
  float: left;
  width: 20%;
  text-align: center;
}

main .menu p img {
  width: 80%;
}

main .view {
  display: flex;
}

main .view p {
  vertical-align: middle;
}

main .list {
  overflow: hidden;
}

main .list dl {
  float: left;
  width: 48%;
  overflow: hidden;
  background: #eee;
  margin: 1%;
}

main .list dl dt,
main .list dl dd {
  float: left;
}

main .list dl dd {
  width: 80%;
}

main .list dl dt {
  width: 20%;
}

main .list dl dt img {
  width: 100%;
}
